html
  head
    script(src='/components/jquery/jquery.min.js')
    script(src='/components/socket.io.min.js')
    != assets.tag('/js/game/index.js')
  body
    input#roomid(type='hidden', value=roomid)
    if user
      h1= user.name
    else
      p need login